<div class="jumbotron">
  <div class="container">
    <h1><%= post.title %></h1>
    <p><%= post.summary %></p>
    <p>
      <%= link_to post, class: "btn btn-primary btn-lg" do %>
        Read more &raquo;
      <% end %>
    </p>
  </div>
</div>
