// Place all the styles related to the Admin/Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_body_markdown {
  font-family: monospace;
}

.nav-tabs > li > a:hover {
  border-color: transparent;
  background-color: transparent;
}

.panel.edit-post {
  .panel-heading {
    padding: 10px 10px 0 10px;

    .nav-tabs {
      border-bottom: 0px;

      &>li {
        border-bottom: 0px;
      }
    }
  }
  .panel-body {
    padding: 10px;

    div.preview {
      padding: 6px 12px;
    }
  }
}

.post-edit-container {
  height: 550px;

  &>div {
    height: 100%;
    overflow: scroll;
  }
}

.dz-drag-hover {
  border-color: #66afe9 !important;
  outline: 0 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
}
