<div class="col-md-6 col-sm-6">
  <h2><%= post.title %></h2>
  <p><%= post.summary %></p>
  <p>
    <%= link_to post_path(post.slug), class: "btn btn-default" do %>
      Read more &raquo;
    <% end %>
  </p>
</div>
