<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1><%= @post.title %> <small><%= @post.published_at.strftime('%B %e, %Y') %></small></h1>
      </div>
      <%= raw @post.body_html %>
    </div>
  </div>
</div
