// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.nav-pills .tag-pill > a{
  padding: 5px 10px;
}

.jumbotron {
  padding: 0px;
}
